body {
    font-family: 'Roboto Black', sans-serif;
}
.header {
    background-color: #0094ca;
    padding-top: 24px;
    padding-bottom: 20px;
}
.header__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* Header phone */
.header__phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -5px;
}
.header__phone_number {
    margin-left: 16px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
}
.header__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Header menu */
.header__menu {
    display: flex;
    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}
.header__menu_item {
    font-size: 21px;
    color: #494848;
    line-height: 1.25;
    margin-left: 33px;
    text-decoration: none;
}
.header__menu_item:hover {
    text-decoration: underline;
}
.header__menu_item--active {
    color: rgb(255, 255, 255);
}
.header__menu_item--arrow {
    display: flex;
    align-items: center;
}
.header__menu_item--arrow::after {
    content: '';
    background-image: url("../img/arrow-down.png");
    width: 14px;
    height: 12px;
    margin-left: 4px;
}
.header__sub_menu {
    display: none;
}

/* Block logo */
.logo {
    display: flex;
    align-items: center;
    margin: 0;
}
.logo__text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
    text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
    padding-left: 25px;
}
@media (max-width: 1250px) {
    .header__container {
        display: block;
    }
    .header__menu {
        margin-top: 55px;
    }
    .header__phone {
        margin-top: -45px;
    }
}
@media (max-width: 1000px) {
    .header__nav {
        align-self: flex-start;
    }
    .header__menu {
        flex-direction: column;
    }
    .header__menu_item {
        margin-left: 0;
        margin-bottom: 20px;
        display: inline-flex;
    }
}
@media (max-width: 500px) {
    .header__phone {
        margin-top: 20px;
    }
    .header__right {
        align-items: flex-start;
    }
    .header__menu {
        margin-top: 25px;
    }
}

.submit {
    margin-bottom: 588px;
}
/*banner*/
.header__menu_banner{
    background: url("../img/banner.jpg");
    background-size: 1440px 100%;
    background-position: center;
    height: 457px;
}
.header__menu_text{
    margin-top: 0;
    padding-top: 100px;
    font-family: 'Roboto Black', sans-serif;
    font-size: 18px;
    flex-direction: row;
    text-align: right;
}
.clinic_card__banner{
    text-align: right;
}

/* Block logo */
.logo {
    display: flex;
    align-items: center;
    margin: 0;
}
.logo__text {
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
    text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
    padding-left: 25px;
}

/* Block clinic */
.clinic_list {
    padding: 20px 0;
}
.clinic_card {
    max-width: 690px;
    border: 3px solid #43b1d2;
    padding: 20px;
}
.clinic_card__head {
    display: flex;
}

/*footer*/
footer {
    font-family: 'Roboto Black', sans-serif;
    padding-top: 4px;
    padding-bottom: 20px;
}
.footer__container {
    background-color: #0094ca;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.arrow-left {
    border-left-color: steelblue;
    border-right: 0;
}

.footer__middle{
    background-color: #d9d4d8;
    max-width: 1440px;
}
.copyright{
    justify-content: center;
}

/*footer соцсети*/
.social-icons{
    background-image: url("../img/social.png");
    background-repeat: no-repeat;
    height: 98px;
    width: 300px;
    display: inline-block;
    margin-left: 10px;
    transition: all 0.2s ease-out;
}
.fb-icon{background-position: 0 0;}
.fb-icon:hover{background-position: 0 -49px;}
.gplus-icon{background-position: -50px 0;}
.gplus-icon:hover{background-position: 0 -60px;}
.vk-icon{background-position: -100px top;}
.vk-icon:hover{background-position: 0 -110px;}
.youtube-icon{background-position: -150px top;}
.youtube-icon:hover{background-position: 0 -170px;}
.in-icon{background-position: -200px top;}
.in-icon:hover{background-position: 0 -210px;}


.footer__copyright{
    background-color: #0094ca;
    height: 50px;
    text-align: center;
    padding-top: 40px;
    color: white;
}
