/* Block logo */
.logo {
  display: flex;
  align-items: center;
  margin: 0;
}
.logo__text {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.25;
  text-shadow: 0 6px 14px rgba(0, 0, 0, 0.35);
  padding-left: 25px;
}